<div class="input-group">
	<span class="input-group-addon theme-color">{{fieldName}}</span>
	<div class="form-control">
		<div class="upload-file-box org-logo-box">
			<div class="pull-left upload-file-wrapper">
				<div class="activity-img">
					{{#if orgLogo}}
					<img id="orgLogo" {{bind-attr src=orgLogo}} />
					{{/if}}
				</div>
			</div>
			<div class="upload-file-control-wrapper">
				<div class="control-btn-wrapper">
					<label class="btn btn-xx-theme btn-sm" for="uploadLogo" data-toggle="tooltip" data-placement="top" data-original-title="上传Logo">
						<i class="fa fa-plus"></i>
					</label>
					<input type="file" accept="image/*" class="hide" id="uploadLogo" name="file" autocomplete="off" />
				</div>
			</div>
		</div>
	</div>
</div>