.member-list-content {
	background-color: #f8f8f8;
	.member-header {
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
	}
	.inline-block {
		display: inline-block;
		line-height: 28px;
		margin-left: 15px;
		button {
			border: none;
			outline: none;
			border-radius: 5px;
			color: #fff;
			.export {
				background-color: $theme-color;
			}
		}
	}
}
$notice-focus-width: 90px;
$notice-color: #f26d6d;
$xx-width-80:80px;
$xx-width-70:70px;
$xx-width-60:60px;
.xx-list-content {
	padding-top: 5px;
	// background-color: #fff;
	.xx-list-option {
		margin: 0  20px 10px 10px;
		border-bottom: 1px solid #e6e6e6;
		padding: 5px;
		overflow: hidden;
		// background-color: #fff;
		.focus {
			overflow: hidden;
			position: relative;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.info {
			width: auto;
			position: relative;
			color: #888;
			p {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0;
				&.name{
					font-size: 14px;
				}
			}
		}
		//公告表列内部样式
		&.notice-option {
			.focus {
				width: $notice-focus-width;
				height: $notice-focus-width;
			}
			.info {
				margin-left: $notice-focus-width;
				padding: 10px;
				>p {
					height: 30px;
					line-height: 30px;
					&.reply {
						span {
							border-radius: 12px;
							//background-color: $notice-color;
							//color: #fff;
							//padding: 3px 6px;
						}
					}
				}
			}
		}
		//组织列表内部样式
		&.org-option {
			margin: 1px 0 0 0;
			.focus {
				width: $notice-focus-width;
				height: $notice-focus-width;	
			}
			.info {
				margin-left: $notice-focus-width;
				padding: 0px 10px;
				>p {
					height: 30px;
					line-height: 30px;
				}
			}
		}
		//活动版块申请列表
		&.activity-apply-option {
			margin: 1px 0 0 0;
			.focus {
				width: $notice-focus-width;
				height: $notice-focus-width;
			}
			.info {
				margin-left: $notice-focus-width;
				padding: 0px 10px;
				>p {
					height: 30px;
					line-height: 30px;
				}
			}
		}
		&.apply-form-option {
			margin: 1px 0 0 0;
			.focus {
				width: $notice-focus-width;
				height: $notice-focus-width;
			}
			.info {
				margin-left: $notice-focus-width;
				padding: 0px 10px;
				>p {
					height: 20px;
					line-height: 20px;
					margin-top: 3px;
				}
			}
		}
		//公告表列内部样式
		&.member {
			.focus {
				width: $xx-width-70;
				height: $xx-width-70;
			}
			.info {
				margin-left: $xx-width-70;
				padding: 5px 10px;
				>p {
					height: 20px;
					span {
						line-height: 20px;
					}
				}
			}
		}
		&.activity-option{
			margin: 1px 0 0 0;
			.focus {
				width: 120px;
				height: 100px;
			}
			.info {
				margin-left: 130px;
				padding: 0px 10px;
				>p {
					height: 33px;
					line-height: 33px;
					&.name{
						font-size: 14px;
					}
				}
			}
		}
	}
	.pageination-wrapper {
		text-align: center;
		margin-top: 20px;
	}
	.pagination {
		margin: 0 auto;
	}
}
.modal-data {
	li {
		padding: 5px 0;
		p {
			margin: 0;
		}
	}
}