.activity-list-wrapper {
	width: 100%;
	min-height: 500px;
	overflow: hidden;
	overflow-y: auto;
	.activity-wrapper {
		width: 100%;
		padding: 0 0 10px;
		border-bottom: 1px solid $theme-color;
		div {
			overflow: hidden;
		}
		.activity-header {
			// height: 20px;
			line-height: 25px;
			span {
				font-size: 16px;
				color: #888;
			}
		}
		.actvity-body {
			height: 150px;
			overflow: hidden;
			.activity-logo {
				width: 200px;
				overflow: hidden;
				img {
					width: 100%;
					max-height: 100%;
				}
			}
			.activity-content {
				width: auto;
				margin-left: 220px;
				height: 100%;
				.activity-title {
					height: 30px;
					h2 {
						margin: 0;
						color: #444;
						font-size: 16px;
						line-height: 30px;
					}
				}
				.activity-intro {
					height: 80px;
					line-height: 20px;
					overflow: hidden;
					p {
						font-size: 13px;
						color: #777;
					}
				}
				.activity-address {
					span {
						line-height: 40px;
						font-size: 14px;
						color: #666;
					}
				}
			}
		}
		.activity-progress {
			width: 100%;
			margin-top: 10px;
			.activity-review-status {
				height: 10px;
				float: left;
				border-right: 1px solid #fff;
				margin: 0;
				word-spacing: -1.5em;
				&.success {
					background-color: green;
				}
				&.error {
					background-color: red;
				}
				&.ignore {
					background-color: gray;
				}
			}
		}
	}
}