<!-- span side-left -->
<div class="sidebars">
    <!--side bar-->
    <ul class="sidebar">
        <!--always define class .first for first-child of li element sidebar left-->
        <li class="first">
            {{#link-to 'home' class="index" title="基本信息"}}
                <div class="helper-font-24 level1">
                    <i class="fa fa-home"></i>
                </div>
                <span class="sidebar-text">基本信息</span>
            {{/link-to}}
            <ul class="inner-sidebar">
                <li>
                    {{#link-to 'profile'}}
                        <div class="helper-font-24">
                            <i class="fa fa-edit"></i>
                        </div>
                        <span class="sidebar-text">修改</span>
                    {{/link-to}}
                </li>
            </ul>
        </li>
        <li>
            {{#link-to 'org.list' class="orgs" title="组织列表"}}
                <div class="helper-font-24 level1">
                    <i class="fa fa-list"></i>
                </div>
                <span class="sidebar-text">社团列表</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to "act.list" title="公告" class="activity"}}
                <div class="helper-font-24 level1">
                    <i class="fa fa-dashboard"></i>
                </div>
                <span class="sidebar-text">活动列表</span>
            {{/link-to}}
        </li>
        <li>
            <a href="javascript:void(0)" title="赞助管理" class="sponsor">
                <div class="helper-font-24 level1">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <span class="sidebar-text">赞助事务</span>
            </a>
            <ul class="inner-sidebar">
                <li>
                    {{#link-to 'sponsor.list' class="sponsor" title="赞助查看"}}
                        <div class="helper-font-24">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <span class="sidebar-text">赞助查看</span>
                    {{/link-to}}
                </li>
            </ul>
        </li>
        <li>
            {{#link-to 'history' class="history" title="操作历史"}}
                <div class="helper-font-24 level1">
                    <i class="fa fa-globe"></i>
                </div>
                <span class="sidebar-text">操作历史</span>
            {{/link-to}}
        </li>
    </ul>
    <!--/side bar -->
</div>